name: Check commit message format

on:
  pull_request:

jobs:
  commit-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          fetch-depth: 0
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: '20.20'
      - name: Install commitlint
        run: |
          npm install @commitlint/cli@18.6.0 @commitlint/config-conventional@18.6.0
          echo "module.exports = {
            extends: ['@commitlint/config-conventional'],
            rules: {
              'body-max-line-length': [2, 'always', 1000]
            }
          }" > commitlint.config.js
      - name: Validate PR commits with commitlint
        run: |
          npx commitlint --from ${{ github.event.pull_request.head.sha }}~${{ github.event.pull_request.commits }} --to ${{ github.event.pull_request.head.sha }} --verbose
