name: Update Latest Version

on:
  workflow_dispatch:
  push:
    branches:
      - main

concurrency:
  group: scout-packages-bump
  cancel-in-progress: true

jobs:
  setup:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - id: ls
        run: echo "packages=$(ls -d packages/*/ | cut -f2 -d'/' | jq -cnR [inputs])" >> $GITHUB_OUTPUT
    outputs:
      packages: ${{ steps.ls.outputs.packages }}

  scout-package-bump:
    runs-on: ubuntu-latest
    needs:
      - setup
    strategy:
      matrix:
        package: ${{ fromJson(needs.setup.outputs.packages) }}
    continue-on-error: true
    permissions:
      packages: read
      pull-requests: write
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: glasskube/scout/actions/setup@a46cfc5307c027fbe6b3624c9fa4e0c1dfa86fba # v0.3.5
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      - run: scout package:bump --name=${{ matrix.package }}
      - run: scout index
      - name: Create or update pull request
        uses: peter-evans/create-pull-request@67ccf781d68cd99b580ae25a5c18a1cc84ffff1f # v7
        with:
          token: ${{ secrets.GLASSKUBE_BOT_SECRET }}
          committer: "glasskube-bot <githubbot@glasskube.eu>"
          author: "glasskube-bot <githubbot@glasskube.eu>"
          signoff: true
          branch: "bot/package-bump/${{ matrix.package }}"
          commit-message: "chore: update `latestVersion` for package ${{ matrix.package }}"
          title: "chore: update `latestVersion` for package ${{ matrix.package }}"
          body: |
            :robot: Automated PR
            ---
            Merge this PR to update the `latestVersion` for `${{ matrix.package }}`.
