name: Update Latest Version

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  setup:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4
      - id: ls
        run: echo "packages=$(ls -d packages/*/ | cut -f2 -d'/' | jq -cnR [inputs])" >> $GITHUB_OUTPUT
    outputs:
      packages: ${{ steps.ls.outputs.packages }}

  scout-package-bump:
    runs-on: ubuntu-latest
    needs:
      - setup
    strategy:
      matrix:
        package: ${{ fromJson(needs.setup.outputs.packages) }}
    continue-on-error: true
    permissions:
      packages: read
      pull-requests: write
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4
      - uses: glasskube/scout/actions/setup@7737a7d0eeac617042ee38330ddf4a38cbb616fd # v0.3.4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      - run: scout package:bump --name=${{ matrix.package }}
      - run: scout index
      - name: Create or update pull request
        uses: peter-evans/create-pull-request@4320041ed380b20e97d388d56a7fb4f9b8c20e79 # v7
        with:
          token: ${{ secrets.GLASSKUBE_BOT_SECRET }}
          committer: "glasskube-bot <githubbot@glasskube.eu>"
          author: "glasskube-bot <githubbot@glasskube.eu>"
          signoff: true
          branch: "bot/package-bump/${{ matrix.package }}"
          commit-message: "chore: update `latestVersion` for package ${{ matrix.package }}"
          title: "chore: update `latestVersion` for package ${{ matrix.package }}"
          body: |
            :robot: Automated PR
            ---
            Merge this PR to update the `latestVersion` for `${{ matrix.package }}`.
