name: Scout index

on:
  workflow_dispatch:
  push:
    branches:
      - main

concurrency:
  group: scout-index
  cancel-in-progress: true

jobs:
  scout-index:
    runs-on: ubuntu-latest
    permissions:
      packages: read
      pull-requests: write
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      - uses: glasskube/scout/actions/setup@a46cfc5307c027fbe6b3624c9fa4e0c1dfa86fba # v0.3.5
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      - run: scout index
      - name: Create or update pull request
        uses: peter-evans/create-pull-request@98357b18bf14b5342f975ff684046ec3b2a07725 # v8
        with:
          token: ${{ secrets.GLASSKUBE_BOT_SECRET }}
          committer: "glasskube-bot <githubbot@glasskube.eu>"
          author: "glasskube-bot <githubbot@glasskube.eu>"
          signoff: true
          branch: "bot/package-index-update"
          commit-message: "chore: update packages/index.yaml"
          title: "chore: update packages/index.yaml"
          body: |
            :robot: Automated PR
            ---
            Merge this PR to update `packages/index.yaml`.
