name: Scout index

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  scout-index:
    runs-on: ubuntu-latest
    permissions:
      packages: read
      pull-requests: write
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4
      - uses: glasskube/scout/actions/setup@f1026f7be47dbe1f7b0b99ad09435764ad7536bc # v0.3.1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      - run: scout index
      - name: Create or update pull request
        uses: peter-evans/create-pull-request@6d6857d36972b65feb161a90e484f2984215f83e # v6
        with:
          token: ${{ secrets.GLASSKUBE_BOT_SECRET }}
          committer: "glasskube-bot <githubbot@glasskube.eu>"
          author: "glasskube-bot <githubbot@glasskube.eu>"
          signoff: true
          branch: "bot/package-index-update"
          commit-message: "chore: update packages/index.yaml"
          title: "chore: update packages/index.yaml"
          body: |
            :robot: Automated PR
            ---
            Merge this PR to update `packages/index.yaml`.
