name: Scout packages

on:
  workflow_dispatch:
  schedule:
    - cron: "0 6 * * 1-5"

jobs:
  setup:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b # v4
      - id: ls
        run: echo "packages=$(ls -d packages/*/ | cut -f2 -d'/' | jq -cnR [inputs])" >> $GITHUB_OUTPUT
    outputs:
      packages: ${{ steps.ls.outputs.packages }}

  scout-package:
    runs-on: ubuntu-latest
    needs:
      - setup
    strategy:
      matrix:
        package: ${{ fromJson(needs.setup.outputs.packages) }}
    continue-on-error: true
    permissions:
      packages: read
      pull-requests: write
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b # v4
      - uses: glasskube/scout/actions/setup@c67530076f5e6696e137327aedb6b0d42cfcf69f # v0.1.1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      - run: scout package --name=${{ matrix.package }}
      - name: Create or update pull request
        uses: peter-evans/create-pull-request@9153d834b60caba6d51c9b9510b087acf9f33f83 # v6
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          committer: "glasskube-bot <githubbot@glasskube.eu>"
          author: "glasskube-bot <githubbot@glasskube.eu>"
          signoff: true
          branch: "bot/package-update/${{ matrix.package }}"
          commit-message: "chore: update package ${{ matrix.package }}"
          title: "chore: update package ${{ matrix.package }}"
          body: |
            :robot: Automated PR
            ---
            Merge this PR to update the `${{ matrix.package }}` package.
