name: Scout packages

on:
  workflow_dispatch:
  schedule:
    - cron: "0 6 * * 1-5"

jobs:
  setup:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      - id: ls
        run: echo "packages=$(ls -d packages/*/ | cut -f2 -d'/' | jq -cnR [inputs])" >> $GITHUB_OUTPUT
    outputs:
      packages: ${{ steps.ls.outputs.packages }}

  scout-package:
    runs-on: ubuntu-latest
    needs:
      - setup
    strategy:
      matrix:
        package: ${{ fromJson(needs.setup.outputs.packages) }}
    continue-on-error: true
    permissions:
      packages: read
      pull-requests: write
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      - uses: glasskube/scout/actions/setup@a46cfc5307c027fbe6b3624c9fa4e0c1dfa86fba # v0.3.5
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      - run: scout package --name=${{ matrix.package }}
      - name: Create or update pull request
        uses: peter-evans/create-pull-request@98357b18bf14b5342f975ff684046ec3b2a07725 # v8
        with:
          token: ${{ secrets.GLASSKUBE_BOT_SECRET }}
          committer: "glasskube-bot <githubbot@glasskube.eu>"
          author: "glasskube-bot <githubbot@glasskube.eu>"
          signoff: true
          branch: "bot/package-update/${{ matrix.package }}"
          commit-message: "chore: update package ${{ matrix.package }}"
          title: "chore: update package ${{ matrix.package }}"
          body: |
            :robot: Automated PR
            ---
            Merge this PR to update the `${{ matrix.package }}` package.
