name: Test packages

on:
  pull_request:
    branches:
      - main
    paths:
      - packages/**

jobs:
  setup:
    name: Setup
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4
        with:
          fetch-depth: 2
      - name: Git diff
        id: diff
        run: echo "changes=$(git diff --name-only HEAD~1 | grep -E "packages/[^/]+/[^/]+/.+" | cut -d / -f 2,3 -s | sort | uniq | jq -cnR '[inputs | split("/")]')" >> $GITHUB_OUTPUT
    outputs:
      changes: ${{ steps.diff.outputs.changes }}

  test:
    name: Test install
    runs-on: ubuntu-latest
    needs:
      - setup
    if: needs.setup.outputs.changes != '[]'
    strategy:
      matrix:
        change: ${{ fromJson(needs.setup.outputs.changes) }}
    steps:
      - name: Checkout
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4
      - name: Get latest Glasskube version
        id: version
        run: echo "version=$(curl https://glasskube.dev/release.json | jq -r .version)" >> $GITHUB_OUTPUT
      - name: Install glasskube
        run: curl -fL "https://github.com/glasskube/glasskube/releases/download/v${{ steps.version.outputs.version }}/glasskube_v${{ steps.version.outputs.version }}_linux_x86_64.tar.gz" | tar -xz
      - name: Check glasskube
        run: ./glasskube --version
      - name: Start local webserver
        uses: Eun/http-server-action@a68db85dc4a7e47241c0830702c3561709f021a2 # v1
        with:
          directory: ${{ github.workspace }}
          port: 9090
      - name: Add host.minikube.internal to /etc/hosts
        run: sudo echo "127.0.0.1 host.minikube.internal" | sudo tee -a /etc/hosts
      - name: Check local webserver
        run: curl -v "http://host.minikube.internal:9090/packages/${{ matrix.change[0] }}/${{ matrix.change[1] }}/package.yaml"
      - name: Start minikube cluster
        uses: medyagh/setup-minikube@d8c0eb871f6f455542491d86a574477bd3894533 # v0.0.18
      - name: Bootstrap Glasskube in Minikube cluster
        run: ./glasskube bootstrap --disable-telemetry --create-default-repository=false
      - name: Add local repository
        run: ./glasskube repo add local "http://host.minikube.internal:9090/packages/" --default
      - name: Fetch test config values
        id: config
        run: echo "config=$(curl -fL http://host.minikube.internal:9090/packages/${{ matrix.change[0] }}/${{ matrix.change[1] }}/.test/config-values.txt)" >> $GITHUB_OUTPUT
      - name: Install package in Minikube cluster
        run: ./glasskube install "${{ matrix.change[0] }}" --repository="local" --version="${{ matrix.change[1] }}" ${{ steps.config.outputs.config }} --yes --non-interactive --no-wait
      - name: Check package status
        timeout-minutes: 5
        run: |
          while true; do
            sleep 5
            status=`./glasskube describe "${{ matrix.change[0] }}" -o json | jq -r .status`
            if [ $status == "Ready" ]; then
              break;
            fi
          done
